.zone2taf {
  width: 80%;
  float: left;
  border-style: ridge;
  border-radius: 18px;
  background-color: darkgray;
  text-align: -webkit-center;
}

table {
  border-collapse: collapse;
  /*Les bordures du tableau seront collées (plus joli)
*/
}


td,
tr {
  border: 1px solid black;
}
