<div class="zone2taf">
  <p appGreenSectionTitle>section-geographie-sénégal :</p>
  <button (click)="Toggle()"> {{buttonName}} </button>
  <table id="tableau1" *ngIf="show">
    <tbody>
      <tr *ngFor="let Region of regions">
        <td> {{ Region.code | countryCode }} </td>
        <td> {{ Region.nom }} </td>
      </tr>
    </tbody>
  </table>
  <!-- <p> {{ Region.code | countryCode }} </p>
 -->
</div>
