<div class="zone2taf">
  <p></p>
  <h3>Coach Actuel</h3>
  <ul>
    <li>Nom: {{ nom }}</li>
    <li>Prénom: {{ pnom }}</li>
    <li>Spécialité: {{ spec }}</li>
  </ul>
  <button (click)="SoumaClick()"> Plus d'informations </button>
  <p></p>
  <h3>Editer ici les infos du Coach</h3>
  <form action="">
    <div><label for="nom"> NOM : </label><input type="text" [(ngModel)]="nom" name="nom"></div>
    <div><label for="pnom"> PRENOM : </label><input type="text" [(ngModel)]="pnom" name="pnom"></div>
    <div><label for="spec"> SPECIALITE : </label><input type="text" [(ngModel)]="spec" name="spec"></div>
  </form>
</div>
