<app-entete-page></app-entete-page>
<app-section-economie></app-section-economie>
<app-menu-side></app-menu-side>
<app-section-geographie></app-section-geographie>
<app-section-histoire></app-section-histoire>
<app-section-politique></app-section-politique>
<app-menu-formulaire></app-menu-formulaire>
